.main{
background: #f5f5f5;
}
.produto-caixa{
    display: flex;
    justify-content: center;
    height: 531px;
}
.produto-descricao{
    gap: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tamanho__imagem {
    width: 560px;
    height: 403px;  
}
.produto-descricao__descricao{
    gap: 16px;
    display: flex;
    flex-direction: column;
    width: 560px;
    height: 210px;  
}
.produto-descricao__descricao h1{
    font-weight: 500;
    font-size: 52px;
    line-height: 61px;
    color: #464646;
}
.produto-descricao__descricao small{
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #464646;
}
.produto-descricao__descricao p{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #464646
}
.produtos-classe{
    padding-bottom: 20px;
}
.similares{
    margin: 64px 0 16px 140px;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #464646;
}
@media(min-width:768px) and (max-width:950px){
    .produto-caixa{
        width: 768px;
        height: 221px;
    }
    .tamanho__imagem{
        width: 254px;
        height: 157px;
    }
    .produto-descricao__descricao{
        gap: 8px;
        width: 434px;
        height: 157px;
    }
    .produto-descricao__descricao h1{
        font-size: 22px;
        line-height: 26px;
    }
    .produto-descricao__descricao p{
        font-size: 14px;
        line-height: 16px;
    }
    .similares{
        margin: 64px 0 32px 0;
        font-weight: 700;
        font-size: 22px;
        line-height: 26px;
        color: #464646;
    } 
    .produtos-classe{
        margin-left:25px ;
    }
}
@media (max-width:767px){
    .produto-caixa{
        width: 360px;
        height: 413px;
    }
    .produto-descricao{
        display: flex;
        flex-direction: column;
    }
    .tamanho__imagem{
        width: 360px;
        height: 192px;
    }
    .produto-descricao__descricao{
        width: 328px;
        height: 189px;
    }
    .produto-descricao__descricao h1{
        font-size: 22px;
        line-height: 26px;
    }
    .produto-descricao__descricao p{
        font-size: 14px;
        line-height: 16px;
    }
    .similares{
        margin: 32px 0 16px 15px;
        font-weight: 700;
        font-size: 22px;
        line-height: 26px;
    }
}